$imagesPath:						"../images/";

$fontsPath:							"../fonts/";

$pollyfillsPath:					"http://localhost/share-html/polyfills/";



/* START COLORS VARIABLES */

$primary_brand:						#064d94;

$secondary_brand:					#50bae7;

$body_text:					        #4d5059;

$gray_text:					        #5d5d5d;

$success_brand:						#0eb670;

$danger_brand:						#eb505b;

$black:						        #000000;

$white:						        #ffffff;

$border_gray:						#e1e1e1;



/* START FONT-FACE VARIABLES */

$open_sans: 					    'Open Sans', sans-serif;