.cta{

  .cta__inner{

    width: 100%;

    max-width: 960px;

    margin: 0 auto;

    h4{

      @media #{$break-smartphones, $break-phones}{

        font-size: 15px;

        text-align: left;

      }

    }

    p{

      @media #{$break-smartphones, $break-phones}{

        font-size: 12px;

        text-align: left;

      }

    }

  }

}