.hero {

  padding: 180px 50px;

  background: $primary_brand url('../images/content/puffy-bg-desktop.jpg') no-repeat bottom right;

  background-size: cover;

  @media #{$break-desktop, $break-tablets, $break-smartphones, $break-phones}{

    padding: 50px;

  }

  &__content{

    &--white {

      color: $white;

      h1 {

        color: #ffffff;

      }

      p {

        max-width: 650px;

        margin: 0 auto 100px auto;

        @media #{$break-desktop, $break-tablets, $break-smartphones, $break-phones}{

          margin: 0 auto 25px auto;

        }

      }

    }

  }

}